<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="upload-container" id="hover-check">
      <label for="image-upload" class="upload-label" id="is-hidden"
        >Chọn ảnh</label
      >
      <input id="image-upload" type="file" class="upload-input" />
      <img
        id="uploaded-image"
        class="selected-photo"
        src=""
        alt="Ảnh đã chọn"
      />
    </div>
    <div class="button-container">
      <button onclick="sendImage()" class="button-find">Tìm kiếm</button>
    </div>
    <div class="photo-results-container">
      <div class="photo-first">
      </div>
      <div class="photo-second">
      </div>
    </div>
  </body>
  <script src="../static/js/script.js"></script>
</html>
